@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@*@inject IConfiguration _configuration
@inject IOptionsSnapshot<TestAlertConfig> _alertConfig*@
@{
    //var alerts = _configuration.GetSection("Test");

    //var alerts = new TestAlertConfig();
    //_configuration.Bind("Test", alerts);

    //var alerts1 = _alertConfig.Get("MicrosoftBook");
    //var alerts2 = _alertConfig.Get("GoogleBook");

}
    <header>
        <nav class = "navbar navbar-default" style="background:#54bab9;color:black;" id="topofpage" role = "navigation">
             <div class = "navbar-header">
                <button type = "button" class = "navbar-toggle" 
                   data-toggle = "collapse" data-target = "#example-navbar-collapse">
                   <span class = "sr-only">Toggle navigation</span>
                   <span class = "icon-bar"></span>
                   <span class = "icon-bar"></span>
                   <span class = "icon-bar"></span>
                </button>
               <a class="navbar-brand" href="/" style="padding: 1px; margin-right:20px; margin-left: 20px;">
                    <img class="img-fluid" src="~/images/logo.png" alt="BookStore Application">
                   @*<p style="padding: 14px;">Web Library</p>*@
               </a>
             </div>
         
             <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
                <ul class = "nav navbar-nav" style="float:left;">
                    <li class="nav-guys @ViewData["home-active"]">
                      <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                     <li class="nav-guys @ViewData["abo-active"]">
                      <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="About">About</a>
                    </li>
       
                     <li class="nav-guys @ViewData["adb-active"]">
                      <a class="nav-link active" aria-current="page" asp-controller="Book" asp-action="AddNewBook">Add Book</a>
                    </li>

                    <li class="nav-guys @ViewData["allb-active"]">
                      <a class="nav-link active" aria-current="page" asp-controller="Book" asp-action="AllBooks">View Books</a>
                    </li>
                </ul>
             <ul class = "nav navbar-nav" style="float:right;">
                
                   <partial name="_logininfo" />
            </ul>
             </div>
          </nav>
    </header>


<!-- This Section is to giva a alert from the "appsettings.json" file using Bind Method-->
@*@if (alerts1.TestBool)
{   
    <div class="alert alert-info" role="alert">
        @alerts1.TestValue
    </div>
}
@if (alerts2.TestBool)
{   
    <div class="alert alert-info" role="alert">
        @alerts2.TestValue
    </div>
}*@





    @*<!-- This Section is to giva a alert from the "appsettings.json" file using GetSection & GetValue() Method-->
@if (alerts.GetValue<bool>("TestBool"))
{
    <div class="alert alert-info" role="alert">
        @(alerts.GetValue<string>("TestValue"))
    </div>
}*@
