@model BookProject.Controllers.RandomViewModel;
@{
    ViewData["Title"] = @Model.bookmodelreturn.Title;
}

<div class="container">
	<h3 class="display-5">Book Details</h3>
    <hr />              
	<div class="row">
		<div class="col-md-6">
         
            @{
                    int maxImg = Model.gallerymodelreturn.Count()+1;
                    int j = 1;
             }
             <div class="slideshow-container">
                 <div class="mySlides fade">
                      <div class="numbertext">@j / @maxImg</div>
                      <img src="@Model.bookmodelreturn.coverimgurl" style="width:100%;height:500px;">
                    </div>
                 @foreach(var img in Model.gallerymodelreturn)
                 {
                    j++;
                    <div class="mySlides fade">
                      <div class="numbertext">@j / @maxImg</div>
                      <img src="@img.galleryimgurlurl" style="width:100%;height:500px;">
                    </div>
                 }

             </div>
                <br>
                <div style="text-align:center">
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                  <span class="dot"></span> 
                </div>
        </div>
		<div class="col-md-6">
            <div class="container">
                 <h1 class="display-2">@Model.bookmodelreturn.Title</h1>
                 <p class="text-info">&nbsp;By: @Model.bookmodelreturn.Author</p>
                 <p class="p-2">@Model.bookmodelreturn.Description</p>
                 
                 <div class="row">
                 <div class="col-md-4">
                 <a class="outlinebutton" data-toggle="modal" data-target="#myModal">
                    Read Now
                 </a>
                 </div>
                 </div>
             </div>
             <br />
               <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
    
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                       <object type="application/pdf" data="@Model.bookmodelreturn.bookpdfurl" width="100%" height="500" style="height: 85vh;">No Support</object>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
      
                </div>
              </div>
             <ul class="list-group">
                 <li class="list-group-item"><span class="font-weight-bold">
                     Category - 
                 </span>@Model.bookmodelreturn.Category</li>
                 <li class="list-group-item"><span class="font-weight-bold">
                     Total Pages - 
                 </span>@Model.bookmodelreturn.Pages</li>
                 <li class="list-group-item"><span class="font-weight-bold">
                     language - 
                 </span>@Model.bookmodelreturn.Language</li>
                  <li class="list-group-item"><span class="font-weight-bold">
                     Added On - 
                 </span>@Model.bookmodelreturn.CreatedOn</li>
                  <li class="list-group-item"><span class="font-weight-bold">
                     Last Updated - 
                 </span>@Model.bookmodelreturn.UpdatedOn</li>
                 @*<li class="list-group-item"><span class="font-weight-bold  align-content-center"><a href="/book/allbooks" class="btn btn-outline-success">View All Books</a></span></li>*@
             </ul>
             
                 <br />
                 <a asp-controller="book" asp-action="allbooks" class="outlinebutton">View All Books</a>
		</div>
	</div>
    <br />
    <hr />
    <div class="py-5 bg-light" id="simmilarbooks">
        <h3 class="h3">Simmilar Books</h3>
        @await Component.InvokeAsync("TopBooks",new{bookCategory=@Model.bookmodelreturn.Category})
    </div>
</div>

<div class="modal fade" ></div>

@section Scripts
{
    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
          }
          slideIndex++;
          if (slideIndex > slides.length) {slideIndex = 1}    
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
          setTimeout(showSlides, 1000); // Change image every 2 seconds
        }
    </script>
}

 @section Breadcrumb
  {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../#">Home</a></li>
                <li class="breadcrumb-item"><a href="../Book/AllBooks">All Books</a></li>
                <li class="breadcrumb-item"><a href="../Book-Details/@Model.bookmodelreturn.Id">View Book</a></li>
            </ol>
        </nav>
  }   